[Oo]bj/
[Bb]uild/
Library
Temp
svn
.vs
*.pidb
*.unityproj
*.sln
*.userprefs
*.csproj
*.svn
*.suo
Assets/UniversalMediaPlayer/Plugins/Win/x86_64/plugins/plugins.dat
Assets/UniversalMediaPlayer/Plugins/Win/x86_64/plugins/plugins.dat.meta
uDesktopDuplication.log
Assets/StreamingAssets*
ConsoleSettings.json
